/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 250px;
    margin-bottom: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-size:14px;
    line-height:35px;
    text-indent: 10px;
@include box_sizing;
}

input {
    height: auto !important;
}

label {font-size:14px; font-weight: bold; margin:5px 0 10px 0; display: block}

/* flash */
.alert {width: 100%; text-align: center; font-size:14px; padding:10px 0; color:white}

.alert-error {background-color:indianred}
.alert-success {background-color:darkseagreen}